/*body {
  background-color: rgb(12, 1, 1);
  font: 300 5.938em/1.00 Oswald;
  color: rgb(146, 146, 146);
}*/
body {
    width: 100wh;
    height: 90vh;
    color: rgb(146, 146, 146);
    background: linear-gradient(-45deg,  #116fc1, #4390bc , #68a7ca , #8dbdd8 , #b2d3e6 ,#d8e9f3, #ffffff );
    background-size: 400% 400%;
    -webkit-animation: Gradient 20s ease infinite;
    -moz-animation: Gradient 20s ease infinite;
    animation: Gradient 20s ease infinite;
}

@-webkit-keyframes Gradient {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }
}

@-moz-keyframes Gradient {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }
}

@keyframes Gradient {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }
}
p {
  margin-bottom: 0.2em;
}

.element {
  position: relative;
  float: left;
}

.image {
  display: block;
  position: relative;
  float: left;
  clear: both;
  z-index: 5;
  width: 134px;
  height: auto;
  margin: -80px 0 0 1.7474%;
  overflow: hidden;
}

#main_title_text {
  position: relative;
  font-family: 'Carrois Gothic SC', sans-serif;
  float: left;
  z-index: 0;
  width: 68%;
  min-height: 352px;
  margin: 125px 0 0 16.79948%;
  font-size: 6em;
  text-align: center;
  color: #f2f7f8;
}

.element-1 {
  z-index: 4;
  width: 100%;
  height: 85px;
  background-color: rgb(242, 247, 248);
}

.element-2 {
  clear: both;
  z-index: 1;
  width: 14.4%;
  height: 66px;
  margin: -59px 0 0 20.23568%;
  background-color: #52b5ab;
}

.element-3 {
  z-index: 2;
  width: 14.3997395833%;
  height: 66px;
  margin: -59px 0 0 9.92188%;
  background-color: #52b5ab;
}

.element-4 {
  z-index: 3;
  width: 14.3997395833%;
  height: 66px;
  margin: -59px 0 0 9.55469%;
  background-color: #52b5ab;
}

#add_btn_button_button-2, #shw_btn, #keg_btn{
  width: 100%;
  height: 66px;
}

#shw_list{
  color: black;
}
